@charset “utf-8”;

body{
    font: 100% Arial;
}

header{
    color: azure;
    background-color: lightslategray;
    margin: 10; 
    min-width: 960px;
}

.l-header {
    font: 100% Arial;
    z-index: 1000;
    width: 100%;
    height: 65px;
    color: azure;
    background-color: lightslategray;
}

.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position:relative
}

.site-title {
    z-index: 1001;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -2px;
    margin-bottom: 0;
    float:none;
    left: 10px;
    color: white;
}

.site-nav {
    float: right;
    right: 5px;
    line-height:54px;
}

.site-nav .nav-trigger {
    display:none
}

.site-nav .menu-icon {
    display:none
}

.site-nav .page-link {
    color: azure;
    line-height:1.5
}

.site-nav .page-link:not(:last-child) {
    margin-right:20px
}

#footer {
    clear: both;
    padding: 0.5em 1em 1em;
    border-top: 1px solid #cccccc;
  }

#footer p {
    font-size: small;
    text-align: center;
  }

.wrapper {
    max-width: -webkit-calc(800px -(30px * 2));
    max-width: calc(800px -(30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left:30px
}

.hobby > ul {
    padding: 0;
    position: relative;
  }  

.hobby > ul li{
    color: black;
    border-left: solid 6px black; /*左側の線*/
    background: lightslategray;    /*背景色*/
    margin-bottom: 3px; /*下のバーとの余白*/
    line-height: 1.5;
    padding: 1em;
    list-style-type: none!important; /*ポチ消し*/
}

.game > ul li{
    color: black;
    padding: 0.5em;
    border-left:none;
    background: white;
    list-style-type:circle
}

img {
    display: block;
    width: 600px;
    height: 375px;
    margin: 30px;
  }