@charset “utf-8”;

body{
    font: 100% Arial;
}

header{
    color: azure;
    background-color: lightslategray;
    margin: 10; 
}

.l-header {
    font: 100% Arial;
    z-index: 1000;
    width: 100%;
    height: 65px;
    width:-moz-fit-content; /* Firefox */
    width:fit-content; /* other browsers */  
    /*min-width: 320px; */
    padding: 10px 0;
    color: azure;
    background-color: lightslategray;
}

h2{
    font-style: italic;
}

.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position:relative
}

.site-title {
    z-index: 1001;
    font-size: 28px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float:left;
    left:10px;
    color: azure;
    border-left: 5px solid azure;
}

.site-nav {
    float: right;
    left: 5px;
    line-height:54px
}

.site-nav .nav-trigger {
    display:none
}

.site-nav .menu-icon {
    display:none
}

.site-nav .page-link {
    color: azure;
    line-height:1.5
}

.site-nav .page-link:not(:last-child) {
    margin-right:20px
}

#footer {
    clear: both;
    padding: 0.5em 1em 1em;
    border-top: 1px solid #cccccc;
  }

#footer p {
    font-size: small;
    text-align: center;
  }

.wrapper {
    max-width: -webkit-calc(800px -(30px * 2));
    max-width: calc(800px -(30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left:30px
}

.hobby > li{
    color: lightsteelblue;
    border-left: solid 6px lightsteelblue; /*左側の線*/
    background: #f1f8ff;    /*背景色*/
    margin-bottom: 3px; /*下のバーとの余白*/
     line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important; /*ポチ消し*/
}

img {
    display: block;
    width: 600px;
    height: 375px;
    margin: 30px;
  }