@charset “utf-8”;

body{
    background-color: slategray;
    color: azure;
}

header{
    background-color: black;
    color: white;
}

h2{
    font-style: italic;
}

#rounded img {
    border-radius: 5px;
}